{% extends 'base.html' %}
    {% block body %}
            <div class="login">
                <form method="POST" action="">
                    {{ form.csrf_token }}
                    <div style="text-align: center;">
                        <h2 class="fw-bold mb-2 text-uppercase">Cadastro de Produtos</h2>
                    </div>

                    <div class="user">
                        {{form.nome.label(class="form-label")}}
                        {{form.nome(class="form-control")}}
                    </div>
                    <div class="user">
                        {{form.tipo.label(class="form-label")}}
                        {{form.tipo(class="form-control")}}
                    </div>
                    <div class="user">
                        {{form.preco.label(class="form-label")}}
                        {{form.preco(class="form-control")}}
                    </div>
                    <div>
                        <div>
                            {{ form.submit_cadastrar(class="btn btn-primary btn-block mb-4") }}
                        </div>
                    </div>
                </form>
            </div>
{% endblock %}