<header id="topnav">
            <div class="inner">
                <nav role='navigation'>
                    <ul >
                        {% if current_user.is_authenticated %}
                            <li>
                                <a class=""  href="{{url_for('produtos')}}">
                                    Produto
                                </a>
                            </li>
                            <li>
                                <a class="" href="{{url_for('cadastro_usuario')}}">
                                    Cadastro
                                </a>
                            </li>
                            <li>
                                <a class="" href="{{url_for('sair')}}">Sair</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>