html {
    height: 100%;
}
  
body {
    margin:0;
    padding:0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#05445E, #189AB4);
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 3;
}

.login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.login .user {
    position: relative;
}

input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
} 


input:focus {
  border-color: rgb(12, 152, 187);
}

input:valid ~ label,
input:focus ~ label {
  left: 0;
  color: #03e9f4;
  font-size: 12px;
  display: block;
}

label{
    color: white;
}
form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login a:hover {
    background: #03e8f4bd;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e8f4a8,
                0 0 25px #03e8f47e,
                0 0 50px #03e8f4be,
                0 0 100px #03e8f4a1;
}
  
span {
    position: absolute;
    display: block;
}

footer{
    margin-top: 50vh;
    margin-bottom: 0px;
    height: -20vh;
    position: fixed;
}
.waves {
    width: 100%;
    height:50vh;
    /*Fix for safari gap*/
    /* min-height:100px;
    max-height:150px; */
  }

  .content {
    position:relative;
    align-items: end;
    height:100vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
}


/* navigation bar */

header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding-top: 0;
    background: #032e41;
    transition: 0.7s all;
    box-shadow: 20px 20px 38px -3px rgba(0,0,0,0.40);
    z-index: 100;

  }
  
  /* header.alt-header {
    background: #fff;
  }
  
  .alt-header a {
    color: #000;
  } */
  
  body.header-fixed header {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 50%;
    z-index: 2;
  }
  
  li {
    list-style: none;
  }
  
  nav {
    overflow: hidden;
  }
  
  nav ul {
    float: right;
  }
  
  nav li {
    display: inline;
    float: left;
  }
  
  nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s all;
  }
  
  nav a:hover {
    background: #3d8fb3;
  }
  